*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    color: #111;
}
.link{
    padding: 45px;
    color: #222;
    font-size: 24px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
.allBox{
padding-top: 5%;
    
}
.allBox .box{

    height: 100px;
    width: 60vw;
    background-color: white;
    border: 2px solid black;
    padding: 5% 5% 5% 5%;
    margin: 10px;
    
}
.allBox .box h1{
    color: black;
    margin: left;
}
.imgBox{
    padding-left: 5%;
}
img{
    height: 30px;
    width: 30px;
    animation: rotation 8s infinite linear;
}
@keyframes rotation{
    10%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(35deg);
    }
    60%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(-35deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.allBox .box p{
    margin-top: -20px;
    color: black;
    font-size: 24px;
    text-align: right;
}
section{
    padding: 5%;
}
@media(max-width: 768px)
{
    .allBox .box{
        height: 100px;
        width: 85vw;
        padding: 5%;
        margin: 10px;
    }
}
